@import "tailwindcss";

.container {
  max-width: 80vw;
  margin: 0 auto;         
  padding: 20px;

  /* vertical centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;        
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.semibold{
  font-weight: 500;
}
